.yt-bg {
  background: url("../../assets/yt-art.jpg");
  background-size: cover;
  background-position: center;
}

.video-card {
  height: 12rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem !important;
}

.video-body {
  height: 100%;
  width: 5%;
}

.video-text {
  max-width: 92%;
  background: #ffffff;
  padding: 3px 10px;
  border-radius: 0.35rem;
  position: absolute;
  bottom: 4%;
  left: 4%;
}

.video-card {
  width: 100%;
}

.carousel-control-prev {
  display: none;
}

.carousel-control-next {
  display: none;
}

.carousel-control-prev-icon {
  background-image: url("https://img.icons8.com/ios-glyphs/30/000000/arrow-pointing-left--v2.png") !important;
}

.carousel-control-next-icon {
  background-image: url("https://img.icons8.com/ios-glyphs/24/000000/long-arrow-right.png") !important;
}

.yt-image {
  border-radius: 50%;
  width: 48px;
}

.subscribe-btn {
  color: #e42626;
}

.subscribe-btn:hover {
  color: #a31313;
}

.video-list-card {
  height: 9rem;
  width: 16rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem !important;
}

.video-link {
  color: #000000;
}

@media (max-width: 900px) {
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  .youtube-page {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }

  .video-list-card {
    height: 4.5rem;
    width: 8rem;
  }

  .yt-channel-link {
    margin-top: 5px !important;
  }
}
