.blog_bg {
  background-image: linear-gradient( 135deg, #FDEB71 10%, #e6d14b 100%);
  border-radius: 25px 25px 0 0;
  margin-top: -25px;
  padding-bottom: 25px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
}

.blog_card {
  height: 12rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem !important;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25) !important;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.blog_body {
  height: 100%;
  width: 5%;
}

.blog_text {
  max-width: 92%;
  background: #ffffff;
  padding: 3px 10px;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 8%;
  left: 4%;
}

.blog_text small {
  color: #7c7c7c;
}

.blog_text b {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #524c38;
}

.blog_card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
}

.blog_card:hover .blog_text b{
  color: #917a2f;
}

.media_div {
  margin: 10px;
}

.stories_btn {
  color: rgb(0, 0, 0);
}

.stories_btn:hover {
  color: rgb(80, 70, 51);
}

@media (max-width: 900px) {
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  .artical_card {
    padding: 0 5px;
    margin: 5px auto !important;
  }
}
