.blog-card {
  height: 12rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem !important;
}

.blog-body {
  height: 100%;
  width: 5%;
}

.blog-text {
  max-width: 92%;
  background: #ffffff;
  padding: 3px 10px;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 8%;
  left: 4%;
}

.blog-text small {
  color: #7c7c7c;
}

.media-div {
  margin: 10px;
}

.m-image {
  border-radius: 50%;
  width: 48px;
}

.stories-btn {
  color: rgb(179, 122, 17);
}

.stories-btn:hover {
  color: rgb(138, 90, 2);
}

.blog-carousel-card {
  width: 32rem;
  height: 18rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem !important;
}

@media (max-width: 900px) {
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  .m-page-link {
    margin-top: 5px !important;
  }
}