.blog-card {
  height: 12rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem !important;
}

.blog-body {
  height: 100%;
  width: 5%;
}

.blog-text {
  max-width: 92%;
  background: #ffffff;
  padding: 3px 10px;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 8%;
  left: 4%;
}

.blog-text small {
  color: #7c7c7c;
}

.media-div {
  margin: 10px;
}

.profile-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.profile-link:hover {
  color: black;
  text-decoration: none;
}

.profile-link-description {
  color: black;
  text-decoration: none;
}

.profile-link-description:hover {
  color: black;
  text-decoration: none;
}

.profile-image {
  height: 3rem;
}

.blog-carousel-card {
  width: 32rem;
  height: 18rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem !important;
}