/* Global Styles ========================================================================================================================= */

html,
body {
  height: 100% !important;
  width: 100% !important;
  scroll-behavior: smooth;
  line-height: 1.2 !important;
}

.body {
  padding: 0;
  margin: 0;
  height: 100% !important;
  width: 100% !important;
}

.main {
  margin-top: 5rem !important;
}

.btn,
.card,
.form-control,
.navbar-toggler {
  border: none !important;
  border-radius: 0.35rem !important;
}

.btn,
.btn:hover,
.btn:focus,
.btn-link,
.btn-link:hover,
.btn-link:focus,
.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none !important;
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none;
}
